:root {
    --color-font: #084f67;
    --color-background: #f2eafa;
    --color-button: #DBB8F2;
    --color-navbar: #5C2E91;
    --color-navbar-font:#eaebfa;
    --color-highlight: #BFE3F2;
}



.fitinterview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.fitinterview-question h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-navbar);
    margin-bottom: 20px;
    text-shadow: 0px 0px 8px var(--color-button);
}

.fitinterview-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.fitinterview-button {
    background: var(--color-button);
    color: var(--color-navbar-font);
    border: 2px solid var(--color-navbar);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
}

.fitinterview-button.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fitinterview-button.hidden {
    display: none;
}
