
.gemini-container{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding-top:40px;
}

.khransRoutine-video {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: aparecer 1.5s ease-out forwards;
    border: 5px solid var(--color-Button);
}

.gemini-container_items{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 10px;
}

.gemini_title {
  background-color: var(--color-Button);
  font-size: 1.1rem; 
  font-weight: bold;
  color: var(--color-font);
  width: 90%;
  max-width: 400px; 
  padding: 12px 20px; 
  overflow: hidden;
  white-space: normal;
  animation: move-up-to-down 4s 1 forwards;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: -10px auto 10px;
  border: 4px solid #8551c0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4; 
}


/* .gemini_title::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 30%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #892aae;
} */

@keyframes move-up-to-down {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        transform: translateY(-10px);
        opacity: 1;
    }
}

.race-container {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .avatarGenerateRoutine-container {
    transition: transform 0.3s ease-out;
  }

  .khransRoutineRunning-video{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: aparecer 1.5s ease-out forwards;
    border: 5px solid var(--color-Button);
    display:flex;
    position:absolute;
    left:-150px;
    top:-5px;
  }

  .khransRoutineCelebration-video{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: aparecer 1.5s ease-out forwards;
    border: 5px solid var(--color-Button);
  }
  
  .meta {
    position: absolute;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    animation: aparecer 1.5s ease-out forwards;
    color: purple;
  }
  
  .race-hint {
    font-size: 14px;
    color: darkgray;
    animation: aparecer 1.5s ease-out forwards;
    margin-top: 5px;
  }
  
  .race-success {
    font-size: 18px;
    font-weight: bold;
    animation: aparecer 1.5s ease-out forwards;
    color: green;
  }

  .gemini-button {
    padding: 10px;
    margin: 10px 4px;
    color: var(--color-font);
    background-color: var(--color-Button);
    font-family: sans-serif;
    font-weight: 550;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px; 
    border: 3px solid transparent; 
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-image: linear-gradient(var(--color-Button), var(--color-Button)), 
                      linear-gradient(45deg, #bc90d9, #8551c0); 
}

