
.gemini-container{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding-top:40px;
}

.khransRoutine-video {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: aparecer 1.5s ease-out forwards;
    border: 5px solid var(--color-Button);
}

.gemini-container_items{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 10px;
}

.gemini_title {
    background-color: #c65def;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-font);
    width: 90%;
    overflow: hidden;
    white-space: normal;
    animation: move-up-to-down 4s 1 forwards;
    text-align: center;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
}

.gemini_title::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #c65def;
}

@keyframes move-up-to-down {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        transform: translateY(-10px);
        opacity: 1;
    }
}

.gemini-button{
    padding: 10px ;
    margin:10px 4px;
    color:var( --color-font);
    background-color: var(--color-Button);
    font-family: sans-serif;
    font-weight: 550;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    border-color: var(--color-Button);
    border-radius: 10px;
}