.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    min-height: 100vh;
    padding: 20px;
    background-color: #f2eafa;
    font-family: sans-serif;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    width: 90%;
    margin-bottom: 15px;
    padding: 5px;
}

.calendar {
    background-color: #D4A5E6;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width:600px;
    width:100%;
    transition: transform 0.3s ease;
    text-align: center;
}

.calendar h3 {
    color: #4A235A;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: 600;

}

.calendar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.calendar li {
    color: #0079a1;
    font-weight: bold;
}

.week-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    list-style: none;
}

.day-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #A278B5;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.day-circle.selected {
    background-color: #5B2C6F;
    box-shadow: 0 0 10px rgba(91, 44, 111, 0.8);
    transform: scale(1.1);
}

.routine-section {
    padding:5px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.selected-day-title {
    font-size: 1rem;
    font-weight: bold;
    color: #4A235A;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    background: linear-gradient(90deg, #5B2C6F, #c964f4);
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.routine-list {
    list-style-type: none;
    padding-left: 30px;
    font-size: 1.2rem;
    color: #673A69;
}

.routine-list{
    background: #7a1aa371;
    margin: 8px 0;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}

.routine-grid {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #DFC3E5;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.routine-grid.open {
    display: flex;
    opacity: 1;
    max-height: 300px;
    padding: 10px;
}

.routine-day {
    background-color: #BB8FCE;
    color: #4A235A;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    margin: 5px;
    width: 80%;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.no-day-container {
    display: flex;
    margin-top:-20px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.no-day-selected {
    font-size: 1.1rem;
    font-weight: bold;
    color: #4A235A;
    background-color: #D4A5E6;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.arrow-to-calendar {
    font-size: 2rem;
    color: #5B2C6F;
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.routine-button {
    background-color: #7D3C98;
    border: 4px solid #BB8FCE;
    border-radius: 20px;
    font-family: "Inria Sans", serif;
    font-weight: 800;
    font-style: italic;
    font-weight: bold;
    color: #000;
    padding: 12px 22px;
    animation: pulseEffect 1.5s infinite;
    position:relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes pulseEffect {
    0% {
        transform: scale(1);
        background-color: #7D3C98;
        box-shadow: 0 0 5px rgba(125, 60, 152, 0.7);
    }
    50% {
        transform: scale(1.1);
        background-color: #9940bd;
        box-shadow: 0 0 15px rgba(165, 105, 189, 0.9);
    }
    100% {
        transform: scale(1);
        background-color: #6f1496;
        box-shadow: 0 0 5px rgba(125, 60, 152, 0.7);
    }
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.avatar-motivation-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: -20px;
}

.avatar-motivation {
    background-color: #D7BDE2;
    color: #4A235A;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 80%;
    z-index: 2;
    animation: aparecer 3s ease-out forwards;    
}

.avatar-motivation::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #D7BDE2;
}

.avatar-landing-container{
    width:160px;
    height:auto;
    display:flex;
    justify-content: center;
    animation: aparecer 1.5s ease-out forwards;
}

.avatar-emotions__avatar{
    width:auto;
    height:auto;
    display:flex;
    flex-direction:row;
    align-items: center; 
}

.landing-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #673A69;
    background-color: #fff;
}

.interview-button,
.statistics-button {
    background-color: #C2A8E3;
    color: #673A69;
    font-weight: bold;
    border: 2px solid #3f9dbc;
    border-radius: 8px;
    padding: 10px;
    width: fit-content;
    height:fit-content;
    text-align: center;
}