.fit-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
    background-color: #f2eafa;
    font-family: sans-serif;
}

.interview-button{
    background-color: #5a2d91;
    border: 3px solid #d9b3ff;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.avatar-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2eafa;
    border: 4px solid #3f9dbc;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 15px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 80px;
}

.animated-name {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #673A69, #A278B5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #673A69;
    }
    to {
        text-shadow: 0 0 15px #A278B5;
    }
}

.avatar-profile .khrans-video {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #A0D6DB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.khrans-video{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: aparecer 1.5s ease-out forwards;
    border: 5px solid rgb(115, 0, 187);
}

.motivational-phrase {
    margin-top: 4rem;
    background-color: #D4A5E6;
    border: 4px solid #B0D7E8;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.motivational-phrase:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-width: 6px;
}


.calendar-avatar-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin-bottom: 20px;
    border: 4px solid #C2A8E3;
    border-radius: 20px;
    padding: 10px;
}

.calendar {
    background-color: #C2A8E3;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.calendar:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-width: 6px;
}

.calendar h3 {
    color: #A278B5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.calendar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.calendar li {
    color: #3f9dbc;
    font-weight: bold;
}

.week-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}


.day-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    border-radius: 50%;
    background-color: #D4A5E6;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar-emotions {
    display: flex;
    flex-direction: row; 
    justify-content:baseline; 
    gap: 0.5rem;
    align-items: center; 
    background-color: #C2A8E3;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
}

 .avatar-emotions img {
    width: 5rem;
    height: auto;
    border-radius: 50%;
    border: 4px solid #A0D6DB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.avatar-emotions__avatar{
    width: 40%;
}
.avatar-emotions__statistics{
    width: 40%;
    height: 100%;
}

.statistics-button {
    height: 100%;
    padding: 12px 22px;
    background-color: #C2A8E3;
    color: #673A69;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #3f9dbc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.statistics-button:hover,
.exercise-btn:hover {
    background-color: #A278B5;
    color: #f2eafa;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f2eafa;
    border: 4px solid #C2A8E3;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    width: 90%;
    height: 25%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}


.start-routine-button {
    background-color: #3f9dbc;
    color: #f2eafa;
    border: none;
    border-radius: 20px;
    padding: 12px 22px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.start-routine-button:hover {
    background-color: #A0D6DB;
    transform: scale(1.05);
}


 .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}



