

.title {
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.navbar-container {
    position: fixed;
    top:0;
    width: 100%;
    background-color: var(--color-navbar);
    color: var(--color-navbar_font);
    font-family: "Inria Sans", serif;
    display: flex;
    align-items:center;
    position:sticky;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.navbarHome-button{
    position:absolute;
    top:26%;
    left:43%;
    background-color: transparent;
    text-align:center;
    text-transform: uppercase;
    font-weight: 400;
    background: linear-gradient(60deg, #6016a6, #ff00aa);
    color:white;
    border: 2px solid var(--color-navbar_font); 
    border-radius: 15px;
    padding: 1px 6px;
    font-size: 1.2rem;

}


.navbar-button {
    display:flex;
    align-items:center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-navbar_font);
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    width: 85px;
    text-align: center;
    
}


.navbar-button.is-expanded {
    width: 150px;
    transition: all 0.7s ease;
    text-align: left;

    color: var(--color-emergente);
}

.navbar-menu {
    position: absolute;
    top: 50px; 
    left: 0;
    width: 45%;
    background: rgba(138, 43, 226, 0.9);
    border-radius: 15px;
    border: 2px solid var(--color-navbar);
    box-shadow: 0 4px 8px var(--color-font);
    background-color: var(--color-emergente); 
    z-index: 10;
    padding: 10px 0;
    animation: slideDown 0.3s ease-out;
}

.navbar-menu ul {
    list-style: none;
    font-size:2rem;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--color-navbar);
    border-radius: 15px; 
}

.navbar-menu li {
    font-size:2rem;
    padding: 10px 20px;
    opacity: 0;
    transform: scale(0.9) translateY(-20px);
    animation: fadeInCascada 0.5s ease-out forwards;
    border-bottom: 2px solid var(--color-navbar);
    border-radius: 15px;  
}

.navbar-menu li:last-child {
    border-bottom: none;
}

.navbar-menu li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.navbar-menu a {
    color: var(--color-navbar);
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
}

.user-button{
    
    background-color: transparent;
    text-align:center;
    font-weight: 300;
    text-transform: uppercase;
    background: linear-gradient(60deg, #6016a6, #ff00aa);
    color:white;
    border: 2px solid var(--color-navbar_font); 
    border-radius: 20px;
    /* padding: 1px 6px; */
    font-size: 1rem;
} 
.dropdown-menu{
    background-color: var(--color-emergente);
    color: var(--color-navbar);
    border-radius: 15px;
    border: 3px solid var(--color-navbar);
    box-shadow: 0 4px 8px var(--color-font);
}


.dropdown-item{
    color: var(--color-navbar);
    font-size:1.3rem;
    border-bottom: 2px solid var(--color-navbar);
    border-radius: 15px;    
}

.login-button {
    background: linear-gradient(60deg, #6016a6, #ff00aa);
    text-align:center;
    color: var(--color-navbar_font);
    border: 2px solid var(--color-navbar_font); 
    border-radius: 20px;
    padding: 1px 6px;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: auto;
    white-space:nowrap;
}


@keyframes fadeInCascada {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: auto;
    }
}