.secret-video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f0e6ff;
    min-height: 100vh;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    animation: aparecer 1.5s ease-out forwards;
    gap: 10px;
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

.grid-video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.main-video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    height: auto;
}

.hans-video {
    width: 100%;
    height: auto;
    animation: aparecer 1.5s ease-out forwards;
    border-radius: 10px;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
